/* Основные стили */
body {
    background-image: url('/images/Фон 1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.active {
    color: #fff;
    background-color: silver;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Шапка */
.header {
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.site-title {
    color: black;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    transition: margin-top 0.3s ease; /* Анимация смещения */
}

.site-title:hover {
    color: #ff6600;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

/* При открытии бургера сдвигаем заголовок */
.site-title.burger-open {
    margin-top: 50px; /* Сдвиг вниз */
}

/* Иконка бургера */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger-line {
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

/* Навигационное меню */
.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    text-align: center; /* Центрирование текста */
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #ff6600;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .site-title {
        font-size: 2rem;
    }

    .nav-menu {
        display: none;
        flex-direction: column; /* Вертикальное расположение пунктов */
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
        box-shadow: none;
    }

    .burger-menu {
        display: flex;
    }

    .nav-menu.active {
        display: flex; /* Показываем меню при активации */
    }

    .nav-menu ul {
        flex-direction: column; /* Вертикальное расположение кнопок */
        gap: 15px;
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li a {
        font-size: 24px;
        margin: 0; /* Убираем отступы */
    }

    /* Сдвигаем иконки вниз при открытии меню */
    .nav-menu.active + .social-icons {
        margin-top: 50px;
    }

    .social-icons {
        margin-top: 15px; /* Отступ для иконок */
    }
}

@media (max-width: 480px) {
    .site-title {
        font-size: 1.5rem;
    }

    .nav-menu ul li a {
        font-size: 20px;
    }

    .social-icons img {
        width: 36px;
        height: 36px;
    }
}
