/* Секция контактов */
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    height: 60vh;
    text-align: center;
    border-radius: 10px;
}

/* Заголовок и подзаголовок */
.contact-title {
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.contact-subtitle {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Контактная информация */
.contact-info p {
    color: black;
    font-size: 18px;
    margin: 5px 0;
}

.contact-info a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.contact-info a:hover {
    text-decoration: underline;
}


/* Фото по центру */
.contact-image {
    margin-top: 20px;
}

.contact-image img {
    width: 350px; /* Размер фото */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
